@use 'variaveis';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: variaveis.$fonte-principal;
  line-height: 1.6;
  color: variaveis.$cor-cinza;
  background: #f9f9f9;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: variaveis.$espaco-md;
}